<table class="table table-striped">
	<tr ng-repeat="song in songs">
		<td>
			<a href="" ng-click="playSong(song)" class="song-play-btn">
				<img alt="http://placehold.it/50x50" ng-src="{{song.album.imageUrl}}" class="img-responsive song-img">
				<span class="glyphicon glyphicon-play song-play-icon"></span>
			</a>
		</td>
		<td>
			{{ song.title }}
			<p class="text-muted">{{ song.artist.name }}</p>
		</td>
		<td>
			<div class="btn-group">
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="glyphicon glyphicon-music"></span> <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu pull-right" role="menu">
			    <li><a href="{{ artistUrl(song.artist) }}">Voir l'artiste</a></li>
			    <li><a href="{{ albumUrl(song.album) }}">Voir l'album</a></li>
			  </ul>
			</div>
		</td>
	</tr>
</table>