<div infinite-scroll="addSlice()" infinite-scroll-distance="10">
	<div class="row" ng-repeat="oneGroup in tilesGroups" >
	    <div class="col-md-3 col-xs-6" ng-repeat="tile in oneGroup" >
	            <a href="{{  tileLinkUrl(tile) }}" class="tile-link tile-type-{{ tileType }}">
	                <img alt="http://placehold.it/370x185" ng-src="{{tile.imageUrl}}" class="img-responsive tile-image">
	                <h4 class="tile-name">{{ tile.name }}</h4>
	            </a>
	    </div>
	</div>
</div>